<form [formGroup]="formModel">
  <div class="form-group">
    <label for="exampleInputName">Idol name :</label>
    <input type="text"
           class="form-control"
           id="exampleInputName"
           placeholder="Enter name"
           formControlName="name">
  </div>
  <div class="form-group">
    <label for="exampleInputHeight">Height :</label>
    <input type="number"
           class="form-control"
           id="exampleInputHeight"
           placeholder="Height"
           formControlName="height">
  </div>
  <div class="form-group">
    <label for="exampleCategory">Category :</label>
    <select class="form-control"
            id="exampleCategory"
            formControlName="category">
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
